// Code generated by Fern. DO NOT EDIT.

package comments

import (
	context "context"
	core "github.com/merge-api/merge-go-client/core"
	internal "github.com/merge-api/merge-go-client/internal"
	option "github.com/merge-api/merge-go-client/option"
	ticketing "github.com/merge-api/merge-go-client/ticketing"
	http "net/http"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Returns a list of `Comment` objects.
func (c *Client) List(
	ctx context.Context,
	request *ticketing.CommentsListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *ticketing.Comment], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"",
	)
	endpointURL := baseURL + "/ticketing/v1/comments"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *ticketing.PaginatedCommentList) *core.PageResponse[*string, *ticketing.Comment] {
		var zeroValue *string
		next := response.GetNext()
		results := response.GetResults()
		return &core.PageResponse[*string, *ticketing.Comment]{
			Next:    next,
			Results: results,
			Done:    next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Creates a `Comment` object with the given values.
func (c *Client) Create(
	ctx context.Context,
	request *ticketing.CommentEndpointRequest,
	opts ...option.RequestOption,
) (*ticketing.CommentResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns a `Comment` object with the given `id`.
func (c *Client) Retrieve(
	ctx context.Context,
	id string,
	request *ticketing.CommentsRetrieveRequest,
	opts ...option.RequestOption,
) (*ticketing.Comment, error) {
	response, err := c.WithRawResponse.Retrieve(
		ctx,
		id,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns metadata for `Comment` POSTs.
func (c *Client) MetaPostRetrieve(
	ctx context.Context,
	opts ...option.RequestOption,
) (*ticketing.MetaResponse, error) {
	response, err := c.WithRawResponse.MetaPostRetrieve(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
