// Code generated by Fern. DO NOT EDIT.

package tickets

import (
	context "context"
	core "github.com/merge-api/merge-go-client/v2/core"
	internal "github.com/merge-api/merge-go-client/v2/internal"
	option "github.com/merge-api/merge-go-client/v2/option"
	ticketing "github.com/merge-api/merge-go-client/v2/ticketing"
	io "io"
	http "net/http"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Returns a list of `Ticket` objects.
func (c *Client) List(
	ctx context.Context,
	request *ticketing.TicketsListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *ticketing.Ticket, *ticketing.PaginatedTicketList], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.merge.dev/api",
	)
	endpointURL := baseURL + "/ticketing/v1/tickets"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *ticketing.PaginatedTicketList) *core.PageResponse[*string, *ticketing.Ticket, *ticketing.PaginatedTicketList] {
		var zeroValue *string
		next := response.GetNext()
		results := response.GetResults()
		return &core.PageResponse[*string, *ticketing.Ticket, *ticketing.PaginatedTicketList]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Creates a `Ticket` object with the given values.
func (c *Client) Create(
	ctx context.Context,
	request *ticketing.TicketEndpointRequest,
	opts ...option.RequestOption,
) (*ticketing.TicketResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns a `Ticket` object with the given `id`.
func (c *Client) Retrieve(
	ctx context.Context,
	id string,
	request *ticketing.TicketsRetrieveRequest,
	opts ...option.RequestOption,
) (*ticketing.Ticket, error) {
	response, err := c.WithRawResponse.Retrieve(
		ctx,
		id,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Updates a `Ticket` object with the given `id`.
func (c *Client) PartialUpdate(
	ctx context.Context,
	id string,
	request *ticketing.PatchedTicketEndpointRequest,
	opts ...option.RequestOption,
) (*ticketing.TicketResponse, error) {
	response, err := c.WithRawResponse.PartialUpdate(
		ctx,
		id,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns a list of `Viewer` objects that point to a User id or Team id that is either an assignee or viewer on a `Ticket` with the given id. [Learn more.](https://help.merge.dev/en/articles/10333658-ticketing-access-control-list-acls)
func (c *Client) ViewersList(
	ctx context.Context,
	ticketId string,
	request *ticketing.TicketsViewersListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *ticketing.Viewer, *ticketing.PaginatedViewerList], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.merge.dev/api",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/ticketing/v1/tickets/%v/viewers",
		ticketId,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *ticketing.PaginatedViewerList) *core.PageResponse[*string, *ticketing.Viewer, *ticketing.PaginatedViewerList] {
		var zeroValue *string
		next := response.GetNext()
		results := response.GetResults()
		return &core.PageResponse[*string, *ticketing.Viewer, *ticketing.PaginatedViewerList]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Returns a list of `Ticket` objects.
func (c *Client) LiveSearchRetrieve(
	ctx context.Context,
	request *ticketing.TicketsLiveSearchRetrieveRequest,
	opts ...option.RequestOption,
) (io.Reader, error) {
	response, err := c.WithRawResponse.LiveSearchRetrieve(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns metadata for `Ticket` PATCHs.
func (c *Client) MetaPatchRetrieve(
	ctx context.Context,
	id string,
	opts ...option.RequestOption,
) (*ticketing.MetaResponse, error) {
	response, err := c.WithRawResponse.MetaPatchRetrieve(
		ctx,
		id,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns metadata for `Ticket` POSTs.
func (c *Client) MetaPostRetrieve(
	ctx context.Context,
	request *ticketing.TicketsMetaPostRetrieveRequest,
	opts ...option.RequestOption,
) (*ticketing.MetaResponse, error) {
	response, err := c.WithRawResponse.MetaPostRetrieve(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns a list of `RemoteFieldClass` objects.
func (c *Client) RemoteFieldClassesList(
	ctx context.Context,
	request *ticketing.TicketsRemoteFieldClassesListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *ticketing.RemoteFieldClass, *ticketing.PaginatedRemoteFieldClassList], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.merge.dev/api",
	)
	endpointURL := baseURL + "/ticketing/v1/tickets/remote-field-classes"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *ticketing.PaginatedRemoteFieldClassList) *core.PageResponse[*string, *ticketing.RemoteFieldClass, *ticketing.PaginatedRemoteFieldClassList] {
		var zeroValue *string
		next := response.GetNext()
		results := response.GetResults()
		return &core.PageResponse[*string, *ticketing.RemoteFieldClass, *ticketing.PaginatedRemoteFieldClassList]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}
