// Code generated by Fern. DO NOT EDIT.

package employees

import (
	context "context"
	core "github.com/merge-api/merge-go-client/core"
	hris "github.com/merge-api/merge-go-client/hris"
	internal "github.com/merge-api/merge-go-client/internal"
	option "github.com/merge-api/merge-go-client/option"
	http "net/http"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Returns a list of `Employee` objects.
func (c *Client) List(
	ctx context.Context,
	request *hris.EmployeesListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *hris.Employee], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"",
	)
	endpointURL := baseURL + "/hris/v1/employees"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *hris.PaginatedEmployeeList) *core.PageResponse[*string, *hris.Employee] {
		var zeroValue *string
		next := response.GetNext()
		results := response.GetResults()
		return &core.PageResponse[*string, *hris.Employee]{
			Next:    next,
			Results: results,
			Done:    next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Creates an `Employee` object with the given values.
func (c *Client) Create(
	ctx context.Context,
	request *hris.EmployeeEndpointRequest,
	opts ...option.RequestOption,
) (*hris.EmployeeResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns an `Employee` object with the given `id`.
func (c *Client) Retrieve(
	ctx context.Context,
	id string,
	request *hris.EmployeesRetrieveRequest,
	opts ...option.RequestOption,
) (*hris.Employee, error) {
	response, err := c.WithRawResponse.Retrieve(
		ctx,
		id,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Ignores a specific row based on the `model_id` in the url. These records will have their properties set to null, and will not be updated in future syncs. The "reason" and "message" fields in the request body will be stored for audit purposes.
func (c *Client) IgnoreCreate(
	ctx context.Context,
	modelId string,
	request *hris.IgnoreCommonModelRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.IgnoreCreate(
		ctx,
		modelId,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Returns metadata for `Employee` POSTs.
func (c *Client) MetaPostRetrieve(
	ctx context.Context,
	opts ...option.RequestOption,
) (*hris.MetaResponse, error) {
	response, err := c.WithRawResponse.MetaPostRetrieve(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
