// Code generated by Fern. DO NOT EDIT.

package invoices

import (
	context "context"
	accounting "github.com/merge-api/merge-go-client/v2/accounting"
	core "github.com/merge-api/merge-go-client/v2/core"
	internal "github.com/merge-api/merge-go-client/v2/internal"
	option "github.com/merge-api/merge-go-client/v2/option"
	http "net/http"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Returns a list of `Invoice` objects.
func (c *Client) List(
	ctx context.Context,
	request *accounting.InvoicesListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *accounting.Invoice, *accounting.PaginatedInvoiceList], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.merge.dev/api",
	)
	endpointURL := baseURL + "/accounting/v1/invoices"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *accounting.PaginatedInvoiceList) *core.PageResponse[*string, *accounting.Invoice, *accounting.PaginatedInvoiceList] {
		var zeroValue *string
		next := response.GetNext()
		results := response.GetResults()
		return &core.PageResponse[*string, *accounting.Invoice, *accounting.PaginatedInvoiceList]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Creates an `Invoice` object with the given values.
//
//	Including a `PurchaseOrder` id in the `purchase_orders` property will generate an Accounts Payable Invoice from the specified Purchase Order(s).
func (c *Client) Create(
	ctx context.Context,
	request *accounting.InvoiceEndpointRequest,
	opts ...option.RequestOption,
) (*accounting.InvoiceResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns an `Invoice` object with the given `id`.
func (c *Client) Retrieve(
	ctx context.Context,
	id string,
	request *accounting.InvoicesRetrieveRequest,
	opts ...option.RequestOption,
) (*accounting.Invoice, error) {
	response, err := c.WithRawResponse.Retrieve(
		ctx,
		id,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Updates an `Invoice` object with the given `id`.
func (c *Client) PartialUpdate(
	ctx context.Context,
	id string,
	request *accounting.PatchedInvoiceEndpointRequest,
	opts ...option.RequestOption,
) (*accounting.InvoiceResponse, error) {
	response, err := c.WithRawResponse.PartialUpdate(
		ctx,
		id,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Creates multiple `Invoice` objects with the given values.
func (c *Client) BulkCreate(
	ctx context.Context,
	request *accounting.InvoiceBulkRequest,
	opts ...option.RequestOption,
) (*accounting.AsyncBulkCreateResponse, error) {
	response, err := c.WithRawResponse.BulkCreate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns the status and results of an `Invoice` bulk create batch.
func (c *Client) BulkRetrieve(
	ctx context.Context,
	batchId string,
	opts ...option.RequestOption,
) (*accounting.BatchObjectsResponse, error) {
	response, err := c.WithRawResponse.BulkRetrieve(
		ctx,
		batchId,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns a list of `RemoteFieldClass` objects.
func (c *Client) LineItemsRemoteFieldClassesList(
	ctx context.Context,
	request *accounting.InvoicesLineItemsRemoteFieldClassesListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *accounting.RemoteFieldClass, *accounting.PaginatedRemoteFieldClassList], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.merge.dev/api",
	)
	endpointURL := baseURL + "/accounting/v1/invoices/line-items/remote-field-classes"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *accounting.PaginatedRemoteFieldClassList) *core.PageResponse[*string, *accounting.RemoteFieldClass, *accounting.PaginatedRemoteFieldClassList] {
		var zeroValue *string
		next := response.GetNext()
		results := response.GetResults()
		return &core.PageResponse[*string, *accounting.RemoteFieldClass, *accounting.PaginatedRemoteFieldClassList]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Returns metadata for `Invoice` PATCHs.
func (c *Client) MetaPatchRetrieve(
	ctx context.Context,
	id string,
	opts ...option.RequestOption,
) (*accounting.MetaResponse, error) {
	response, err := c.WithRawResponse.MetaPatchRetrieve(
		ctx,
		id,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns metadata for `Invoice` POSTs.
func (c *Client) MetaPostRetrieve(
	ctx context.Context,
	opts ...option.RequestOption,
) (*accounting.MetaResponse, error) {
	response, err := c.WithRawResponse.MetaPostRetrieve(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns a list of `RemoteFieldClass` objects.
func (c *Client) RemoteFieldClassesList(
	ctx context.Context,
	request *accounting.InvoicesRemoteFieldClassesListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *accounting.RemoteFieldClass, *accounting.PaginatedRemoteFieldClassList], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.merge.dev/api",
	)
	endpointURL := baseURL + "/accounting/v1/invoices/remote-field-classes"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *accounting.PaginatedRemoteFieldClassList) *core.PageResponse[*string, *accounting.RemoteFieldClass, *accounting.PaginatedRemoteFieldClassList] {
		var zeroValue *string
		next := response.GetNext()
		results := response.GetResults()
		return &core.PageResponse[*string, *accounting.RemoteFieldClass, *accounting.PaginatedRemoteFieldClassList]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}
