// Code generated by Fern. DO NOT EDIT.

package files

import (
	context "context"
	core "github.com/merge-api/merge-go-client/core"
	filestorage "github.com/merge-api/merge-go-client/filestorage"
	internal "github.com/merge-api/merge-go-client/internal"
	option "github.com/merge-api/merge-go-client/option"
	io "io"
	http "net/http"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Returns a list of `File` objects.
func (c *Client) List(
	ctx context.Context,
	request *filestorage.FilesListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *filestorage.File], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"",
	)
	endpointURL := baseURL + "/filestorage/v1/files"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *filestorage.PaginatedFileList) *core.PageResponse[*string, *filestorage.File] {
		var zeroValue *string
		next := response.GetNext()
		results := response.GetResults()
		return &core.PageResponse[*string, *filestorage.File]{
			Next:    next,
			Results: results,
			Done:    next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Creates a `File` object with the given values.
func (c *Client) Create(
	ctx context.Context,
	request *filestorage.FileStorageFileEndpointRequest,
	opts ...option.RequestOption,
) (*filestorage.FileStorageFileResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns a `File` object with the given `id`.
func (c *Client) Retrieve(
	ctx context.Context,
	id string,
	request *filestorage.FilesRetrieveRequest,
	opts ...option.RequestOption,
) (*filestorage.File, error) {
	response, err := c.WithRawResponse.Retrieve(
		ctx,
		id,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns the `File` content with the given `id` as a stream of bytes.
func (c *Client) DownloadRetrieve(
	ctx context.Context,
	id string,
	request *filestorage.FilesDownloadRetrieveRequest,
	opts ...option.RequestOption,
) (io.Reader, error) {
	response, err := c.WithRawResponse.DownloadRetrieve(
		ctx,
		id,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns metadata to construct an authenticated file download request for a singular file, allowing you to download file directly from the third-party.
func (c *Client) DownloadRequestMetaRetrieve(
	ctx context.Context,
	id string,
	request *filestorage.FilesDownloadRequestMetaRetrieveRequest,
	opts ...option.RequestOption,
) (*filestorage.DownloadRequestMeta, error) {
	response, err := c.WithRawResponse.DownloadRequestMetaRetrieve(
		ctx,
		id,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns metadata to construct authenticated file download requests, allowing you to download files directly from the third-party.
func (c *Client) DownloadRequestMetaList(
	ctx context.Context,
	request *filestorage.FilesDownloadRequestMetaListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *filestorage.DownloadRequestMeta], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"",
	)
	endpointURL := baseURL + "/filestorage/v1/files/download/request-meta"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
		}
	}
	readPageResponse := func(response *filestorage.PaginatedDownloadRequestMetaList) *core.PageResponse[*string, *filestorage.DownloadRequestMeta] {
		var zeroValue *string
		next := response.GetNext()
		results := response.GetResults()
		return &core.PageResponse[*string, *filestorage.DownloadRequestMeta]{
			Next:    next,
			Results: results,
			Done:    next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Returns metadata for `FileStorageFile` POSTs.
func (c *Client) MetaPostRetrieve(
	ctx context.Context,
	opts ...option.RequestOption,
) (*filestorage.MetaResponse, error) {
	response, err := c.WithRawResponse.MetaPostRetrieve(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
